name: Updating draft release

on:
  push:
    # trigger only on main branch
    branches:
      - main

jobs:
  draft:
    name: Update draft release
    # better to use pinned version here
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yml
          disable-autolabeler: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
